<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/stylesheets/general.css" type="text/css" rel="stylesheet">
        <link href="/stylesheets/error.css" type="text/css" rel="stylesheet">
        <title>Document</title>
    </head>
<body>
	<div id="navbar" class="navbar">
		<a href="/products" id="navlogo">
			BSale
        </a>
		<div id="myLinks">	
			<a href="/products">Volver al home</a>
        </div>
	</div>
    <div class="content">
        <h1>Página no encontrada</h1>
        <p>Lo sentimos. La página que solicitó no existe.</p>
    </div>
    <footer class="footer">
        <span class="footer-text">BSale challenge, 2022</span>
    </footer>
</body>
</html>